<div id="bar" class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
    <input id="{$ id $}_value" name="{$ inputName $}" ng-class="{'angucomplete-input-not-empty': notEmpty}"
           ng-model="searchStr" ng-disabled="disableInput" type="{$ inputType $}" placeholder="{$ placeholder $}"
           maxlength="{$ maxlength $}" ng-focus="onFocusHandler()" class="{$ inputClass $}"
           ng-focus="resetHideResults()" ng-blur="hideResults($event)" autocapitalize="off" autocorrect="off"
           autocomplete="off" ng-change="inputChangeHandler(searchStr)"/>
    <div id="{$ id $}_dropdown" class="angucomplete-dropdown" ng-show="showDropdown">
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <!--div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div-->

        <div class="angucomplete-title inSearchTitle"><i class="fa fa-user" aria-hidden="true"></i> Categories</div>
        <div class="angucomplete-row" ng-repeat="result in results | filter: { $: 'category' } as filterCat"
             ng-click="selectResult(result)" ng-mouseenter="hoverRow($index, 'category')"
             ng-class="{'angucomplete-selected-row': $index == currentIndex && currentType == 'category'}">
            <div ng-if="imageField" class="angucomplete-image-holder">
                <img ng-if="result.image && result.image != ''" ng-src="{$ result.image $}" class="angucomplete-image"/>
                <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
            </div>
            <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="angucomplete-title" ng-if="!matchClass">{$ result.title $}</div>
            <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description"
                 ng-bind-html="result.description"></div>
            <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">
                {$ result.description $}
            </div>

        </div>
        <div ng-show="!filterCat.length" class="angucomplete-searching">No records found</div>

        <div class="angucomplete-title inSearchTitle"><i class="fa fa-calendar" aria-hidden="true"></i> Events</div>
        <div class="angucomplete-row" ng-repeat="result in results | filter: { $: 'event' } as filterEve"
             ng-click="selectResult(result)" ng-mouseenter="hoverRow($index + filterCat.length, 'event')"
             ng-class="{'angucomplete-selected-row': ($index + filterCat.length) == currentIndex && currentType == 'event'}">
            <div ng-if="imageField" class="angucomplete-image-holder">
                <img ng-if="result.image && result.image != ''" ng-src="{$ result.image $}" class="angucomplete-image"/>
                <div ng-if="!result.image && result.image != ''" class="angucomplete-image-default"></div>
            </div>
            <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
            <div class="angucomplete-title" ng-if="!matchClass">{$ result.title $}</div>
            <div ng-if="matchClass && result.description && result.description != ''" class="angucomplete-description"
                 ng-bind-html="result.description"></div>
            <div ng-if="!matchClass && result.description && result.description != ''" class="angucomplete-description">
                {$ result.description $}
            </div>
        </div>
        <div ng-show="!filterEve.length" class="angucomplete-searching">No records found</div>


    </div>
</div>
